version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:v1.12.1
    container_name: qdrant_db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped

volumes:
  qdrant_storage: 